* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*.container-principal {
    border: 1px solid black;
}*/

header {
    margin-bottom: 10px;
}

.layout {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.conteudo {
    width: 100%;
    max-width: 900px;
}

.header-card {
    width: 100%;
    max-width: 320px;
    box-sizing: border-box;
    height: fit-content;
    background-color: #f8fafc;
    border: 2px solid #d2d2d2;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.header-card-contatos {
    width: 100%;
}

.header-card-contatos li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    padding: 8px;
    border: 2px solid rgb(228, 223, 223);
    background-color: #edf2f7;
    border-radius: 4px;
}

.header-card-contatos li a {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-card-contatos ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.header-card-tag {
    padding: 7px;
    margin-top: 10px;
    background-color: blue;
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
    color: white;
}


.header-informacoes {
    border: 2px solid #e9e8e8;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #f8fafc;
    border-radius: 6px;
}

.header-informacoes ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-informacoes li {
    display: block;
}

.main-container-caminho ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.main-container {
    border: 2px solid #d2d2d2;
    border-radius: 6px;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
}

.main-container-cards {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.main-container-card-projetos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 2px solid #d2d2d2;
    border-radius: 6px;
    flex: 1 1 400px;
    max-width: 390px;

    padding: 10px 25px 10px 25px;
    gap: 10px;
}

.main-container-card-projetos ul {
    font-size: 14px;
}

.main-container-card-projetos img {
    width: 150px;
    height: auto;
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-conteudo h3, .card-conteudo p, .card-conteudo ul {
    margin: 0;
}

.card-conteudo ul {
    padding-left: 18px;
}

.card-conteudo li {
    list-style: none;
}

p {
    line-height: 1.7;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
}

.footer-nome {
    width: 100%;
    max-width: 1220px;
    padding: 20px;

    border-top: 2px solid #e9e8e8;
    background-color: #f4f7fa;
    box-sizing: border-box;
}

.footer-nome ul {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.footer-nome li {
    list-style: none;
}

.mb-12 {
    margin-bottom: 12px;
}

/* Tablets */
@media (max-width: 992px) {

    .layout {
        flex-direction: column;
        align-items: center;
    }

    .header-card {
        max-width: 900px;
    }

    .header-informacoes ul {
        flex-wrap: wrap;
    }

}