* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0;
    min-height: 100vh;
}

.container-principal {
    max-width: 1320px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    max-width: 1320px;
    position: fixed;
    bottom: 0px;
    margin-bottom: 10px;
}

.container-principal-img {
    width: 298px;
    padding: 20px;
    text-align: center;
}

.container-principal-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.container-principal-oeste {
    position: fixed;
    border: 3px solid rgb(211, 208, 208);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.container-principal-previa li {
    display: inline-block;
    text-align: center;
}

.tag {
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#container-principal-web {
    background: red;
}

#container-principal-estudante {
    background: blue;
}