* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*.container-principal {
    border: 1px solid black;
}*/

header {
    margin-bottom: 10px;
}

.layout {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.conteudo {
    width: 900px;
}

.header-card {
    width: 290px;
    height: 400px;
    background-color: #E8F2FA;
    border: 2px solid #d2d2d2;
    border-radius: 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.header-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.header-card-contatos {
    width: 100%;
}

.header-card-contatos li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    padding: 8px;
    border: 2px solid rgb(228, 223, 223);
    border-radius: 4px;
}

.header-card-contatos li a {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-card-contatos ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.header-card-tag {
    padding: 7px;
    margin-top: 10px;
    background-color: blue;
    border-radius: 6px;
    font-weight: 600;
    font-size: 12px;
    color: white;
}


.header-informacoes {
    border: 2px solid #d2d2d2;
    width: 900px;
    padding: 20px;
    background-color: #ebf1f7;
    border-radius: 6px;
}

.header-informacoes ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-informacoes li {
    display: block;
}

.main-container-caminho ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.main-container {
    border: 2px solid #d2d2d2;
    border-radius: 6px;
    width: 900px;
    margin-top: 10px;
    padding: 20px;
}

.main-container-cards {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.main-container-card-projetos {
    border: 2px solid #d2d2d2;
    border-radius: 6px;
    width: 420px;
    height: 140px;
}

p {
    line-height: 1.7;
    text-align: justify;
}

.mb-12 {
    margin-bottom: 12px;
}